body
{
    background-size: cover;
    background-position: top center;
    min-height: 100vh;
    overflow: hidden;
}
.li
{
    border-color: #847462;
    color: rgb(255, 255, 255);
    padding-left: 8%;
    padding-right: 8%;
    font-size:140%;

}